<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang quản trị</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{http://localhost:9000/truyen/dashboard.css}">
</head>
<body>

<section th:replace="/admin/layout/navbar"></section>
<div class="container-fluid">
    <div class="row">
        <section th:replace="/admin/layout/sidebar"></section>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h4 class="text-uppercase text-center pb-3">Cấu hình tỉ lệ thanh toán</h4>
            <form name="myForm" th:object="${authorConfigDTO}" th:action="@{/admin/author/config}" method="POST" onsubmit="return validate()">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <div class="form-group" style="display: none">
                            <label for="id" class="sr-only">Id</label>
                            <input type="text" id="id" th:field="*{id}" class="form-control" placeholder="Id"
                                   required autofocus>
                        </div>
                        <div class="form-group ">
                            <label for="username" class="sr-only">Tên đăng nhập</label>
                            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Tên đăng nhập"
                                    disabled>
                        </div>
                        <div class="form-group ">
                            <label for="chargeRate" class="sr-only">Tỉ lệ</label>
                            <input type="text" id="chargeRate" name="chargeRate" th:field="*{chargeRate}" class="form-control" placeholder="Tỉ lệ"
                                    required autofocus>
                        </div>
                        <div th:text="${error}" style="color: red" class="pb-3"></div>
                        <input type="submit" class="btn btn-success" value="Thêm">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
            
        </main>
    </div>
</div>

<script type="text/javascript">
    function validate() {
        let value = document.getElementById("chargeRate").value;
        console.log(value);
        if (0 > value || 100 < value) {
            alert("Nhập tỉ lệ từ 0 đến 100");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
